 <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                     <div class="col-md-3">
                      
                        <div class="menu-item azul">
                           
                        </div>
                        
                        <div class="menu-item azul">
                           
                        </div>
                        
                 
                        
                    </div>
                    
                    <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
                           </div>
                        </div>
                        <div class="numerosuerte" ng-controller="conteoCtrl">
                            <h2>{{tareas[0]}}: Tu numero de la suerte el dia de hoy es:<h2>
                            <br>

                             <p class="numerosuerte">{{tareas[2]}}</p>
                             <br>
                             <br>
                             <p>La suerte es un beneficio que solo se da una vez al dia. Vuelve mañana y sigue a la suerte que esta dentro de ti.</p>

                             <p>Este equipo solo le puede generar la suerte a una sola persona por dia </p>
                                   
                          
                          
                         
    
                               

                        </div>
                        <!-- Start Carousel Section -->
                        
                        <div class="row">
                            
                            
                            <div class="col-md-6">
                               
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        
                        <div class="menu-item azul">
                          
                        </div>
                        
                        <div class="menu-item azul">
                          
                        </div>
                        
                       
                        
                    </div>
                </div>
            </div>
        </div>