 <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                     <div class="col-md-7">
                
                        <div class="menu-item blue">
                            <a href="#home/numerouno" data-toggle="modal">
                              <img src="images/1.png">
                                <p>Un Numero Del 1 Al 100</p>
                                
                            </a>
                        </div>
                          <div class="menu-item light-red">
                            <a href="#home/numerodos" data-toggle="modal">
                                <img src="images/2.png">
                                <p>Pale. Dos Numeros Del 1 Al 100</p>
                            </a>
                        </div>
                               


                </div>     
                    <div class="col-md-5">
                     <div class="col-md-12">
                        <li><h3>Numeros Ganadores Loteria Quiniela</h3></li>
                        <li class="numero">85</li>                         
                        <li class="numero">03</li>
                        <li class="numero">54</li>                         
                     </div>

                      <div class="col-md-12">
                      <h3>Numeros Ganadores Loteria Nacional</h3>
                        <li class="numero">78</li>                         
                        <li class="numero">25</li>
                        <li class="numero">35</li>                         
                     </div>

                 </div>


                  <style type="text/css">
                     
                  </style>
                </div>
            </div>
        </div>