 <div class="mainbody-section text-center" ng-controller="importarCtrl"> 
            <div class="container">
                <div class="row">
                     <div class="col-md-7">
                
                        <div class="menu-item blue">
                            <a href="#home/numerouno" data-toggle="modal">
                              <img src="images/1.png">
                                <p>Un Numero Del 00 Al 99</p>
                                
                            </a>
                        </div>
                          <div class="menu-item light-red">
                            <a href="#home/numerodos" data-toggle="modal">
                                <img src="images/2.png">
                                <p>Pale. Dos Numeros Del 00 Al 99</p>
                            </a>
                        </div>
                               


                </div>     
                    <div class="col-md-5">
                     <div class="col-md-12">
                        
                        <div ng-repeat="leidsa in quiniela">
                  
                        <p><h3>Numeros Ganadores Loteria Quiniela </h3> {{leidsa.fecha}}</p>
                        
                          <li class="numero">{{leidsa.primera}}</li>
                          <li class="numero">{{leidsa.segunda}}</li>
                          <li class="numero">{{leidsa.tercera}}</li>
                        </div>                     
                     </div>

                      <div class="col-md-12">
                      <div ng-repeat="nacional in nacional">
                      <span> </span>
                        <p><h3>Numeros Ganadores Loteria Nacional</h3>{{nacional.fecha}}</p>
                        
                          <li class="numero">{{nacional.primera}}</li>
                          <li class="numero">{{nacional.segunda}}</li>
                          <li class="numero">{{nacional.tercera}}</li>
                        </div>                                       
                     </div>

                 </div>
                 

                  <style type="text/css">
                     
                  </style>
                </div>
            </div>
        </div>