 <div class="mainbody-section text-center" ng-controller="conteoCtrl">
            <div class="container">
                <div class="row">
                    
                   <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                         <form role="form" ng-submit="addTarea()">
                          <div class="row">
                            <div class="input-group">
                              <input type="text" ng-model="tarea" placeholder="Nombre" class="form-control">
                             
                            <p><label class="title">Signo Zodiacal</label></p>
                            <label class="espacios">
                            <input type="radio"  ng-model="zodiacal.name"  ng-value="aries">Aries
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="tauro">Tauro
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="geminis">Geminis
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="cancer">Cancer
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="leo">Leo
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="virgo">Virgo
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="libra">Libra
                            </label>  
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="escorpio">Escorpio
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="sagitario">Sagitario
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="capricomio">Capricomio
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="acuario">Acuario
                            </label>
                            <label class="espacios">
                            <input type="radio" ng-model="zodiacal.name" value="piscis">Piscis
                          </label>
                          <br>
                          <br>


                          <label class="title">Fecha de nacimiento</label>
                          <input type="date" ng-model="valueofdate" />
                          <br>
                          <br>

                            </div>
                          </div>
                          <input class="btn btn-danger" type="submit" name="boton" value="Voy a tener suerte">
                        </form>
                  <!--      <p class="input-group"  style="padding:5px 10px; cursor: move;">
                          {{tareas[0]}}

                          
                          <span class="input-group-btn">
                            <button class="btn btn-danger" ng-click="eliminarTarea($index)" aria-label="Eliminar">X</button>
                          </span>
                        </p>
                            -->                             
                        </div>
                        <!-- Start Carousel Section -->
                        
                        <div class="row">
                            <div class="col-md-6">
                               
                            </div>
                            
                            <div class="col-md-6">
                               
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        
                         <div class="menu-item azul">
                            <a href="#home/signozodiacal" data-toggle="modal">
                              <img src="images/signo.png">
                                <p>Descrubre tu signo zodiacal</p>
                              
                            </a>
                        </div>
                         <div class="menu-item azul">
                          <a href="#/home/generaruno" align="center">
                           <img src="images/back.png"><br>
                           Atras
                          </a>  
                        </div>
                        
                    
                       
                        
                    </div>
                </div>
            </div>
        </div>
       
