 <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    
                   <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                           <form>
                           	<label class="title">Nombre</label>
                           	<input type="text" name="nombre" class="form-control">
                           	<p><label class="title">Signo Zodiacal</label></p>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="aries">Aries
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="tauro">Tauro
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="geminis">Geminis
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="cancer">Cancer
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="leo">Leo
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="virgo">Virgo
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="libra">Libra
                           	</label>	
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="escorpio">Escorpio
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="sagitario">Sagitario
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="capricomio">Capricomio
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="acuario">Acuario
                           	</label>
                           	<label class="espacios">
                           	<input type="radio" name="zodiacal" value="piscis">Piscis
					             		</label>
                          <br>
                          <br>


                          <label class="title">Fecha de nacimiento</label>
                          <input type="date" ng-model="valueofdate" />
                          <br>
                          <br>
                          <a href="#/home/generaruno" class="btn btn-danger"> General Numero De La Suerte</a>
                      </form>
                        </div>
                        <!-- Start Carousel Section -->
                        
                        <div class="row">
                            <div class="col-md-6">
                               
                            </div>
                            
                            <div class="col-md-6">
                               
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        
                         <div class="menu-item blue">
                            <a href="#home/signozodiacal" data-toggle="modal">
                              <img src="images/signo.png">
                                <p>Descrubre tu signo zodiacal</p>
                              
                            </a>
                        </div>
                         <div class="menu-item green">
                          <a href="#/home" align="center">
                           <img src="images/back.png"><br>
                           Atras
                          </a>  
                        </div>
                        
                    
                       
                        
                    </div>
                </div>
            </div>
        </div>
       
