

<div class="row" ng-controller="conteoCtrl">
	<div class="col-md-3">
		 <div class="menu-item blue">
         	<a href="javascript:void(0)" ng-click="atras()" align="center">
         	<img src="images/back.png"><br>
         	Atras
         	</a>                  
        </div>			 
	</div>
	<div class="col-md-6 blanco">
		<table class="table">
		<tr>
			<td>
				<strong>Nombre</strong>	
			</td>
			<td>
				<strong>Simbolo</strong>	
			</td>
			<td>
				<strong>Fechas</strong>
			</td>
		</tr>
		<tr class="success">
			<td>
				Aries
			</td>
			<td>
				<img src="images/aries.png">
			</td>
			<td>
				21 de marzo - 20 de abril
			</td>
		</tr>
		<tr class="">
			<td>
				Tauro
			</td>
			<td>
				<img src="images/taurus.png">
			</td>
			<td>
				21 de abril - 19 de mayo
			</td>
		</tr>
		<tr class="info">
			<td>
				Geminis
			</td>
			<td>
				<img src="images/gemini.png">
			</td>
			<td>
				20 de mayo - 21 de junio
			</td>
		</tr>
		<tr class="">
			<td>
				Cancer
			</td>
			<td>
				<img src="images/cancer.png">
			</td>
			<td>
				22 de junio - 21 de julio
			</td>
		</tr>
		<tr class="warning">
			<td>
				Leo
			</td>
			<td>
				<img src="images/leo.png">
			</td>
			<td>
				22 de julio - 23 de agosto
			</td>
		</tr>
		<tr class="">
			<td>
				Virgo
			</td>
			<td>
				<img src="images/virgo.png">
			</td>
			<td>
				24 de agosto - 21 de septiembre
			</td>
		</tr>
		<tr class="danger">
			<td>
				Libra
			</td>
			<td>
				<img src="images/libra.png">
			</td>
			<td>
				22 de septiembre - 22 de octubre
			</td>
		</tr>
		<tr class="">
			<td>
				Escorpio
			</td>
			<td>
				<img src="images/scorpio.png">
			</td>
			<td>
				23 de octubre - 22 de noviembre
			</td>
		</tr>
		<tr class="success">
			<td>
				Sagitario
			</td>
			<td>
				<img src="images/sagittarius.png">
			</td>
			<td>
				23 de noviembre - 21 de diciembre
			</td>
		</tr>
		<tr class="">
			<td>
				Capricornio 
			</td>
			<td>
				<img src="images/capricorn.png">
			</td>
			<td>
				22 de diciembre - 20 de enero
			</td>
		</tr>
		<tr class="info">
			<td>
				Acuario 
			</td>
			<td>
				<img src="images/aquarius.png">
			</td>
			<td>
				21 de enero - 19 de febrero
			</td>
		</tr>
		<tr class="">
			<td>
				Piscis 
			</td>
			<td>
				<img src="images/pisces.png">
			</td>
			<td>
				20 de febrero - 20 de marzo
			</td>
		</tr>
		</table>
		

	</div>
	<div class="col-md-3">
	
</div>
</div>