<div class="col-md-12 "  style="background-color: #fff">
	TuNumerito.Com no garantiza que el numero dado sea el ganador de la loteria. solo es un numero generado en base a un algoritmo reflejando el posible numero ganador. pero no nos comprometemos a que sea al numero correcto y nos hacemos responsables de gasto hecho en el numero dado
</div>
<div class="menu-item blue" ng-controller="conteoCtrl">
         	<a href="javascript:void(0)" ng-click="atras()" align="center">
         	<img src="app/images/back.png"><br>
         	Atras
         	</a>                  
        </div>		